<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domainMap</key>
	<dict>
		<key>packagedProducts</key>
		<dict>
			<key>domainName</key>
			<string>packagedProducts</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>name</key>
			<string>shippingbox.fill</string>
		</dict>
		<key>autoSymbol</key>
		<dict>
			<key>name</key>
			<string>steeringwheel</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>autoSymbol</string>
		</dict>
		<key>laundryCareSymbol</key>
		<dict>
			<key>name</key>
			<string>washer.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>laundryCareSymbol</string>
		</dict>
		<key>apparel</key>
		<dict>
			<key>name</key>
			<string>tshirt.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>apparel</string>
		</dict>
		<key>accessories</key>
		<dict>
			<key>name</key>
			<string>handbag.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>accessories</string>
		</dict>
		<key>art</key>
		<dict>
			<key>name</key>
			<string>photo.artframe</string>
			<key>domainName</key>
			<string>art</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>nature</key>
		<dict>
			<key>name</key>
			<string>leaf.fill</string>
			<key>domainName</key>
			<string>nature</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>landmark</key>
		<dict>
			<key>name</key>
			<string>mappin.and.ellipse</string>
			<key>domainName</key>
			<string>landmark</string>
			<key>defaultPosition</key>
			<string>image</string>
		</dict>
		<key>book</key>
		<dict>
			<key>name</key>
			<string>book.closed.fill</string>
			<key>domainName</key>
			<string>book</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>album</key>
		<dict>
			<key>name</key>
			<string>music</string>
			<key>domainName</key>
			<string>album</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>cats</key>
		<dict>
			<key>name</key>
			<string>cat.fill</string>
			<key>domainName</key>
			<string>cats</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>dogs</key>
		<dict>
			<key>name</key>
			<string>dog.fill</string>
			<key>domainName</key>
			<string>dogs</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>birds</key>
		<dict>
			<key>name</key>
			<string>bird.fill</string>
			<key>domainName</key>
			<string>birds</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>insects</key>
		<dict>
			<key>name</key>
			<string>ladybug.fill</string>
			<key>domainName</key>
			<string>insects</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>reptiles</key>
		<dict>
			<key>name</key>
			<string>lizard.fill</string>
			<key>domainName</key>
			<string>reptiles</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>mammals</key>
		<dict>
			<key>name</key>
			<string>pawprint.fill</string>
			<key>domainName</key>
			<string>mammals</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>sculpture</key>
		<dict>
			<key>name</key>
			<string>person.bust.fill</string>
			<key>domainName</key>
			<string>sculpture</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>naturalLandmark</key>
		<dict>
			<key>name</key>
			<string>mappin.and.ellipse</string>
			<key>domainName</key>
			<string>naturalLandmark</string>
			<key>defaultPosition</key>
			<string>image</string>
		</dict>
		<key>skyline</key>
		<dict>
			<key>name</key>
			<string>mappin.and.ellipse</string>
			<key>domainName</key>
			<string>skyline</string>
			<key>defaultPosition</key>
			<string>image</string>
		</dict>
		<key>food</key>
		<dict>
			<key>name</key>
			<string>fork.knife</string>
			<key>domainName</key>
			<string>food</string>
			<key>defaultPosition</key>
			<string>object</string>
		</dict>
		<key>storefront</key>
		<dict>
			<key>name</key>
			<string>storefront</string>
			<key>domainName</key>
			<string>storefront</string>
			<key>defaultPosition</key>
			<string>image</string>
		</dict>
	</dict>
</dict>
</plist>
