*.bin filter=lfs diff=lfs merge=lfs -text
*.xcarchive filter=lfs diff=lfs merge=lfs -text
avh_math/db/foundation_kb.jsonl filter=lfs diff=lfs merge=lfs -text
verantyx_ios/src/verantyx/verantyx/avh_math/db/foundation_kb.jsonl filter=lfs diff=lfs merge=lfs -text
avh_math/db/*.bak filter=lfs diff=lfs merge=lfs -text
verantyx_ios_project/src/verantyx/avh_math/db/foundation_kb.jsonl filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
